coverage
issues/
node_modules/
samples/e2e
tests/e2e/diffs
.DS_Store
.idea
.nyc_output
.vscode
bundle-analysis.html
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/apexcharts_2/v16/.suo
/.vs/ProjectSettings.json
